<div class="container">
  <%= @user.avatar_url %>

  <h1><%= @user.username %>'s Profile </h1>
  <hr>

  <h2>User's Answers</h2>
  <ul>
    <% @user.answers.each do |answer| %>
    <li><%= answer %></li>
    <%end%>
  </ul>

  <h2>User's Questions</h2>
  <ul>
    <% @user.questions.each do |question| %>
    <li><%= question.title %></li>
    <%end%>
  </ul>

</div>
