.submitter {
  float: right;
}

.q-header {
	margin-bottom: 0;
}

.q-title {
	font-size: 14pt;
}

.icon {
  width: 3em;
  height: 3em;
  border: 1px solid #999;
}

.vote {
  width: 3em;
  height: 3em;
}

.sub-vote {
  width: 3em;
  height: 3em;
}

.vote-buttons img {
  height: 4em;
  width: 4em;
  margin: 0;
}

.question-links {
	float: right;
	margin-top: -2em;

	  a {
    background-color: #858d93;
    padding: 4px 10px 5px;
    margin: 0.15em;
    color: white !important;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12pt;
  }

  a:hover {
    background-color: #FF9500;
    border: none;
  }
}

table {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;

	a {
		border: none;
	}

  .q-info {
    width: 100%
  }

	.q-stats p {
		font-weight: bold;
		margin: 0;
		text-align: center;
	}

  .q-stats {
    color: #999;
    font-size: 0.9em;
    margin: 0;
    text-align: center;
  }

  sub {
    float: right;
  }
}