<header>
  <%= link_to "JaquesOverflow", root_path, class: "logo" %>

  <nav>
    <%= link_to "Sign Up", register_path, class: "button" %>
    <%= link_to "Log In", login_path, class: "button" %>
  </nav>
</header>
